<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Paneli</title>
    <link rel="shortcut icon" type="image/png" href="/Modernize-bootstrap-free-main/src/assets/images/logos/favicon.png" />
    <link rel="stylesheet" href="/Modernize-bootstrap-free-main/src/assets/css/styles.min.css" />
</head>
