
@{
    Layout = null;
}

<!doctype html>
<html lang="en">

@await Html.PartialAsync("/Views/AdminLayout/PartialHead.cshtml")

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">
        <!-- Sidebar Start -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div>
                <div class="brand-logo d-flex align-items-center justify-content-between">
                    <a href="./index.html" class="text-nowrap logo-img">
                        <img src="/Modernize-bootstrap-free-main/src/assets/images/logos/dark-logo.svg" width="180" alt="" />
                    </a>
                    <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                        <i class="ti ti-x fs-8"></i>
                    </div>
                </div>
                <!-- Sidebar navigation-->
                @await Html.PartialAsync("/Views/AdminLayout/PartialSidebar.cshtml")
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!--  Sidebar End -->
        <!--  Main wrapper -->
        <div class="body-wrapper">
            <!--  Header Start -->
            @await Html.PartialAsync("/Views/AdminLayout/PartialHeader.cshtml")
            <!--  Header End -->
            <div class="container-fluid">
            @RenderBody()
            </div>
        </div>
    </div>
    @await Html.PartialAsync("/Views/AdminLayout/PartialScript.cshtml")

</body>

</html>
